User.Management.API/.vs/
User.Management.API/User.Management.API/bin/
User.Management.API/User.Management.API/obj/
User.Management.API/User.Management.API/Migrations/
User.Management.API/User.Management.API/appsettings.json
User.Management.API/User.Management.Service/bin/
User.Management.API/User.Management.Service/obj/